
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #1bcc24;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  background-color: rgb(233, 157, 157);
  color: black;
}

.topnav a.active {
  background-color: #e5ff00;
  color: rgb(240, 95, 95);
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
body, html {
  height: 100%;
}

.parallax {
  /* The image used */
  background-image: url('aa.jpg');

  /* Full height */
  height: 150%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.parallax1 {
  /* The image used */
  background-image: url('red1.jpg');

  /* Full height */
  height: 150%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.parallax2 {
  /* The image used */
  background-image: url('blue.jpg');

  /* Full height */
  height: 150%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


p {
  color: rgb(76, 0, 255);
  text-align: center;
} 

p.center {
  text-align: center;
  color: rgba(3, 212, 240, 0.781);
}

p.large {
  font-size: 300%;
}
.parallax3 {
  /* The image used */
  background-image: url('22.jpg');

  /* Full height */
  height: 150%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




.parallax4 {
  /* The image used */
  background-image: url('ll.jpg');

  /* Full height */
  height: 150%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




.parallax5 {
  /* The image used */
  background-image: url('77.jpg');

  /* Full height */
  height: 150%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.parallax6 {
  /* The image used */
  background-image: url('88.jpg');

  /* Full height */
  height: 150%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.parallax7{
  /* The image used */
  background-image: url('786.jpg');

  /* Full height */
  height: 150%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




  

.parallax8{
  /* The image used */
  background-image: url('gg.jpg');

  /* Full height */
  height: 150%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




.parallax9{
  /* The image used */
  background-image: url('bb.jpg');

  /* Full height */
  height: 150%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




.parallax10{
  /* The image used */
  background-image: url('cc.jpg');

  /* Full height */
  height: 150%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




.parallax11{
  /* The image used */
  background-image: url('ee.jpg');

  /* Full height */
  height: 150%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




div.ex1 {
  width: 300px;
  background-color: rgb(0, 81, 255);
}

div.ex2 {
  width: 300px;
  padding: 25px;
  box-sizing: border-box;
  background-color: rgb(110, 216, 68);

  